.main{
    display: flex;
    flex-direction: row;
}

.inputs{
    margin: 1rem 0;
}

.answers{
    background-color: grey;
}

.error {
    border: solid thin red;
}

#buttons{
    margin: 1rem auto;
}